In [1]:
# importing necessary libraries

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

## Reading the data

In [2]:
# S&P500

SP500 = pd.read_csv('S&P500.csv')
SP500.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
SP500 = SP500.add_prefix('S&P500_')
SP500.set_index('S&P500_Date',inplace=True)

In [3]:
# Reading each file and renaming the column with prefix as the Alias of the company

# Aviation


AAL = pd.read_csv('AAL.csv')
AAL.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
AAL = AAL.add_prefix('AAL_')
AAL.dropna(inplace=True)
AAL.set_index('AAL_Date',inplace=True)

ALGT = pd.read_csv('ALGT.csv')
ALGT.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
ALGT = ALGT.add_prefix('ALGT_')
ALGT.dropna(inplace=True)
ALGT.set_index('ALGT_Date',inplace=True)

ALK = pd.read_csv('ALK.csv')
ALK.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
ALK = ALK.add_prefix('ALK_')
ALK.dropna(inplace=True)
ALK.set_index('ALK_Date',inplace=True)

DAL = pd.read_csv('DAL.csv')
DAL.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
DAL = DAL.add_prefix('DAL_')
DAL.dropna(inplace=True)
DAL.set_index('DAL_Date',inplace=True)

HA = pd.read_csv('HA.csv')
HA.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
HA = HA.add_prefix('HA_')
HA.dropna(inplace=True)
HA.set_index('HA_Date',inplace=True)

LUV = pd.read_csv('LUV.csv')
LUV.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
LUV = LUV.add_prefix('LUV_')
LUV.dropna(inplace=True)
LUV.set_index('LUV_Date',inplace=True)

Aviation = ['AAL','ALGT','ALK','DAL','HA','LUV']

In [4]:
# Finance

BCS = pd.read_csv('BCS.csv')
BCS.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
BCS = BCS.add_prefix('BCS_')
BCS.dropna(inplace=True)
BCS.set_index('BCS_Date',inplace=True)

CS = pd.read_csv('CS.csv')
CS.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
CS = CS.add_prefix('CS_')
CS.dropna(inplace=True)
CS.set_index('CS_Date',inplace=True)

DB = pd.read_csv('DB.csv')
DB.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
DB = DB.add_prefix('DB_')
DB.dropna(inplace=True)
DB.set_index('DB_Date',inplace=True)

GS = pd.read_csv('GS.csv')
GS.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
GS = GS.add_prefix('GS_')
GS.dropna(inplace=True)
GS.set_index('GS_Date',inplace=True)

MS = pd.read_csv('MS.csv')
MS.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
MS = MS.add_prefix('MS_')
MS.dropna(inplace=True)
MS.set_index('MS_Date',inplace=True)

WFC = pd.read_csv('WFC.csv')
WFC.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
WFC = WFC.add_prefix('WFC_')
WFC.dropna(inplace=True)
WFC.set_index('WFC_Date',inplace=True)

Finance = ['BCS','CS','DB','GS','MS','WFC']

In [5]:
# Healthcare

JNJ = pd.read_csv('JNJ.csv')
JNJ.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
JNJ = JNJ.add_prefix('JNJ_')
JNJ.dropna(inplace=True)
JNJ.set_index('JNJ_Date',inplace=True)

MRK = pd.read_csv('MRK.csv')
MRK.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
MRK = MRK.add_prefix('MRK_')
MRK.dropna(inplace=True)
MRK.set_index('MRK_Date',inplace=True)

PFE = pd.read_csv('PFE.csv')
PFE.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
PFE = PFE.add_prefix('PFE_')
PFE.dropna(inplace=True)
PFE.set_index('PFE_Date',inplace=True)

UNH = pd.read_csv('UNH.csv')
UNH.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
UNH = UNH.add_prefix('UNH_')
UNH.dropna(inplace=True)
UNH.set_index('UNH_Date',inplace=True)

Healthcare = ['JNJ','MRK','PFE','UNH']

In [6]:
# Pharmaceuticals

BHC = pd.read_csv('BHC.csv')
BHC.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
BHC = BHC.add_prefix('BHC_')
BHC.dropna(inplace=True)
BHC.set_index('BHC_Date',inplace=True)

RHHBY = pd.read_csv('RHHBY.csv')
RHHBY.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
RHHBY = RHHBY.add_prefix('RHHBY_')
RHHBY.dropna(inplace=True)
RHHBY.set_index('RHHBY_Date',inplace=True)

Pharmaceuticals = ['BHC','RHHBY']

In [7]:
# Technology

AAPL = pd.read_csv('AAPL.csv')
AAPL.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
AAPL = AAPL.add_prefix('AAPL_')
AAPL.dropna(inplace=True)
AAPL.set_index('AAPL_Date',inplace=True)

AMZN = pd.read_csv('AMZN.csv')
AMZN.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
AMZN = AMZN.add_prefix('AMZN_')
AMZN.dropna(inplace=True)
AMZN.set_index('AMZN_Date',inplace=True)

FB = pd.read_csv('FB.csv')
FB.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
FB = FB.add_prefix('FB_')
FB.dropna(inplace=True)
FB.set_index('FB_Date',inplace=True)

GOOG = pd.read_csv('GOOG.csv')
GOOG.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
GOOG = GOOG.add_prefix('GOOG_')
GOOG.dropna(inplace=True)
GOOG.set_index('GOOG_Date',inplace=True)

IBM = pd.read_csv('IBM.csv')
IBM.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
IBM = IBM.add_prefix('IBM_')
IBM.dropna(inplace=True)
IBM.set_index('IBM_Date',inplace=True)

MSFT = pd.read_csv('MSFT.csv')
MSFT.drop(['Open','Adj Close','High','Low','Volume'],inplace = True,axis=1)
MSFT = MSFT.add_prefix('MSFT_')
MSFT.dropna(inplace=True)
MSFT.set_index('MSFT_Date',inplace=True)

Technology = ['AAPL', 'AMZN', 'FB', 'GOOG', 'IBM', 'MSFT']

### Combining Datasets

In [8]:
l = [SP500,AAPL, AMZN, FB, GOOG, IBM, MSFT,BHC,RHHBY,JNJ,MRK,PFE,UNH,BCS,CS,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV]

In [9]:
df = pd.merge(SP500,AAPL,how='inner',left_index=True,right_index=True)

In [10]:
for i in l[2:]:
    df = pd.merge(df,i,how='inner',left_index=True,right_index=True)

In [11]:
dict_ = {'S&P500_Close':'S&P500', 'AAPL_Close':'AAPL', 'AMZN_Close':'AMZN', 'FB_Close':'FB', 'GOOG_Close':'GOOG',
       'IBM_Close':'IBM', 'MSFT_Close':'MSFT', 'BHC_Close':'BHC', 'RHHBY_Close':'RHHBY', 'JNJ_Close':'JNJ',
       'MRK_Close':'MRK', 'PFE_Close':'PFE', 'UNH_Close':'UNH', 'BCS_Close':'BCS', 'CS_Close':'CS',
       'DB_Close':'DB', 'GS_Close':"GS", 'MS_Close':'MS', 'WFC_Close':'WFC', 'AAL_Close':'AAL',
       'ALGT_Close':'ALGT', 'ALK_Close':'ALK', 'DAL_Close':'DAL', 'HA_Close':'HA', 'LUV_Close':'LUV'}

In [12]:
df.rename(columns = dict_,inplace=True) # Renaming the columns
df.head()

,S&P500,AAPL,AMZN,FB,GOOG,IBM,MSFT,BHC,RHHBY,JNJ,...,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV
18-05-2012,1295.219971,18.942142,213.850006,38.230000,299.078979,195.880005,29.270000,47.029999,20.160000,63.349998,...,34.370228,95.489998,13.35,30.940001,10.06,62.310001,16.170000,10.14,5.28,8.15
21-05-2012,1315.989990,20.045713,218.110001,34.029999,305.908386,197.759995,29.750000,47.189999,20.389999,63.470001,...,35.505726,96.510002,13.19,31.400000,10.71,62.660000,16.379999,10.58,5.32,8.34
22-05-2012,1316.630005,19.891787,215.330002,31.000000,299.278229,196.820007,29.760000,47.779999,20.430000,63.520000,...,35.410305,97.529999,13.31,31.670000,10.62,62.349998,16.225000,10.54,5.23,8.27
23-05-2012,1318.859985,20.377142,217.279999,32.000000,303.592072,196.119995,29.110001,46.650002,20.075001,63.270000,...,35.381680,98.040001,13.37,31.740000,11.00,62.990002,16.115000,10.74,5.38,8.36
24-05-2012,1320.680054,20.190001,215.240005,33.029999,300.702881,196.089996,29.070000,48.040001,19.855000,63.099998,...,34.828243,96.860001,13.31,31.809999,12.16,64.250000,16.920000,11.27,5.68,8.74

## Considering the last 5 year data for analysis i.e. 30-09-2015 to 30-09-2020

In [13]:
df_analysis = df.loc['30-09-2015':]

In [14]:
df_analysis.head()

,S&P500,AAPL,AMZN,FB,GOOG,IBM,MSFT,BHC,RHHBY,JNJ,...,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV
30-09-2015,1920.030029,27.575001,511.890015,89.900002,608.419983,144.970001,44.259998,178.380005,32.950001,93.349998,...,26.959999,173.759995,31.500000,51.349998,38.830002,216.250000,79.449997,44.869999,24.680000,38.040001
01-10-2015,1923.819946,27.395000,520.719971,90.949997,611.289978,143.589996,44.610001,179.600006,33.220001,93.169998,...,26.520000,176.020004,31.500000,51.439999,39.200001,217.979996,80.230003,45.410000,24.730000,38.410000
02-10-2015,1951.359985,27.594999,532.539978,92.070000,626.909973,144.580002,45.570000,182.320007,33.320000,93.930000,...,27.139999,177.009995,31.430000,51.259998,38.630001,215.589996,79.260002,44.869999,24.280001,38.380001
05-10-2015,1987.050049,27.695000,543.679993,94.010002,641.469971,149.039993,46.630001,163.460007,33.439999,94.760002,...,28.200001,180.699997,32.290001,52.410000,40.189999,216.059998,80.910004,46.959999,25.500000,39.299999
06-10-2015,1979.920044,27.827499,537.479980,92.800003,645.440002,148.779999,46.750000,166.000000,33.529999,93.419998,...,28.400000,180.320007,32.360001,52.029999,38.130001,208.600006,74.529999,45.090000,24.250000,38.000000

In [15]:
df_analysis.to_csv('5 Year Closing Data.csv') #Extracting the data for visualization using tableau

# Normalizing values

In [16]:
# Defining a fucntion to Normalize the price values

def normalised(l):
    n= []
    for i in l:
        n.append(i/l[0])
    return n
df_normalised = df_analysis.copy()

In [17]:
for i in df_analysis.columns:
    df_normalised[i] = normalised(df_normalised[i])

In [18]:
df_normalised.head()

,S&P500,AAPL,AMZN,FB,GOOG,IBM,MSFT,BHC,RHHBY,JNJ,...,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV
30-09-2015,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
01-10-2015,1.001974,0.993472,1.017250,1.011680,1.004717,0.990481,1.007908,1.006839,1.008194,0.998072,...,0.983680,1.013006,1.000000,1.001753,1.009529,1.008000,1.009818,1.012035,1.002026,1.009727
02-10-2015,1.016317,1.000725,1.040341,1.024138,1.030390,0.997310,1.029598,1.022088,1.011229,1.006213,...,1.006677,1.018704,0.997778,0.998247,0.994849,0.996948,0.997609,1.000000,0.983793,1.008938
05-10-2015,1.034906,1.004352,1.062103,1.045717,1.054321,1.028075,1.053547,0.916358,1.014871,1.015104,...,1.045994,1.039940,1.025079,1.020643,1.035024,0.999121,1.018376,1.046579,1.033225,1.033123
06-10-2015,1.031192,1.009157,1.049991,1.032258,1.060846,1.026281,1.056259,0.930598,1.017602,1.000750,...,1.053413,1.037753,1.027302,1.013242,0.981973,0.964624,0.938074,1.004903,0.982577,0.998948

In [19]:
df_normalised.to_csv('Normalised Values.csv')

# Relative Strengths

In [20]:
for i in df_analysis.columns:
    df_normalised[i] = df_analysis[i]/df_analysis['S&P500']

In [21]:
df_normalised.head()

,S&P500,AAPL,AMZN,FB,GOOG,IBM,MSFT,BHC,RHHBY,JNJ,...,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV
30-09-2015,1.0,0.014362,0.266605,0.046822,0.316880,0.075504,0.023052,0.092905,0.017161,0.048619,...,0.014041,0.090499,0.016406,0.026744,0.020224,0.112628,0.041380,0.023369,0.012854,0.019812
01-10-2015,1.0,0.014240,0.270670,0.047276,0.317748,0.074638,0.023188,0.093356,0.017268,0.048430,...,0.013785,0.091495,0.016374,0.026738,0.020376,0.113306,0.041703,0.023604,0.012855,0.019965
02-10-2015,1.0,0.014141,0.272907,0.047182,0.321268,0.074092,0.023353,0.093432,0.017075,0.048136,...,0.013908,0.090711,0.016107,0.026269,0.019796,0.110482,0.040618,0.022994,0.012443,0.019668
05-10-2015,1.0,0.013938,0.273612,0.047311,0.322825,0.075006,0.023467,0.082263,0.016829,0.047689,...,0.014192,0.090939,0.016250,0.026376,0.020226,0.108734,0.040719,0.023633,0.012833,0.019778
06-10-2015,1.0,0.014055,0.271465,0.046871,0.325993,0.075144,0.023612,0.083842,0.016935,0.047184,...,0.014344,0.091074,0.016344,0.026279,0.019258,0.105358,0.037643,0.022774,0.012248,0.019193

In [22]:
df_normalised.drop('S&P500',axis=1,inplace =True)
df_normalised.head()

,AAPL,AMZN,FB,GOOG,IBM,MSFT,BHC,RHHBY,JNJ,MRK,...,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV
30-09-2015,0.014362,0.266605,0.046822,0.316880,0.075504,0.023052,0.092905,0.017161,0.048619,0.025724,...,0.014041,0.090499,0.016406,0.026744,0.020224,0.112628,0.041380,0.023369,0.012854,0.019812
01-10-2015,0.014240,0.270670,0.047276,0.317748,0.074638,0.023188,0.093356,0.017268,0.048430,0.025662,...,0.013785,0.091495,0.016374,0.026738,0.020376,0.113306,0.041703,0.023604,0.012855,0.019965
02-10-2015,0.014141,0.272907,0.047182,0.321268,0.074092,0.023353,0.093432,0.017075,0.048136,0.025695,...,0.013908,0.090711,0.016107,0.026269,0.019796,0.110482,0.040618,0.022994,0.012443,0.019668
05-10-2015,0.013938,0.273612,0.047311,0.322825,0.075006,0.023467,0.082263,0.016829,0.047689,0.025782,...,0.014192,0.090939,0.016250,0.026376,0.020226,0.108734,0.040719,0.023633,0.012833,0.019778
06-10-2015,0.014055,0.271465,0.046871,0.325993,0.075144,0.023612,0.083842,0.016935,0.047184,0.025153,...,0.014344,0.091074,0.016344,0.026279,0.019258,0.105358,0.037643,0.022774,0.012248,0.019193

In [23]:
df_normalised.to_csv('Relative Strength.csv')   # Exporting the Relative stregth data

# Daily Returns

In [23]:
# Defining a fucntion to calculate daily returns of the stocks

def daily_returns_cal(l):
    n=[]
    for i in range(1,l.shape[0]):
        n.append(100*(l[i]/l[i-1] - 1))
    return(n)

In [24]:
# Initializing a dataframe named 'Daily returns' 

daily_returns = pd.DataFrame(daily_returns_cal(df_analysis['S&P500']),columns=['S&P500'])

In [25]:
for i in df_analysis.columns[1:]:
    daily_returns[i] = daily_returns_cal(df_analysis[i])

In [26]:
daily_returns.head()

,S&P500,AAPL,AMZN,FB,GOOG,IBM,MSFT,BHC,RHHBY,JNJ,...,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV
0,0.197388,-0.652769,1.724971,1.167959,0.471713,-0.951925,0.790789,0.683934,0.819423,-0.192823,...,-1.632044,1.300650,0.000000,0.175270,0.952869,0.799998,0.981757,1.203479,0.202593,0.972658
1,1.431529,0.730057,2.269935,1.231449,2.555251,0.689467,2.151982,1.514477,0.301020,0.815715,...,2.337854,0.562431,-0.222222,-0.349924,-1.454082,-1.096431,-1.209025,-1.189168,-1.819648,-0.078102
2,1.828984,0.362388,2.091865,2.107095,2.322502,3.084791,2.326094,-10.344449,0.360141,0.883639,...,3.905682,2.084629,2.736242,2.243469,4.038307,0.218007,2.081759,4.657901,5.024707,2.397077
3,-0.358824,0.478422,-1.140379,-1.287096,0.618896,-0.174446,0.257343,1.553893,0.269139,-1.414103,...,0.709216,-0.210288,0.216785,-0.725054,-5.125648,-3.452741,-7.885310,-3.982110,-4.901961,-3.307886
4,0.803563,-0.476144,0.829802,-0.431036,-0.477196,0.880493,0.106950,2.307230,-2.922756,1.669883,...,1.373243,1.059222,1.761431,0.307515,3.094676,2.511980,1.932111,1.996012,1.278346,1.868418

In [27]:
daily_returns.to_csv('Daily Returns.csv') # Extracting data for visualisation

### Summary Statistics

In [28]:
# Checking the statastics of the daily returns of stocks

summary_statistics = daily_returns.describe().loc[['mean','std','min','max']]

In [29]:
summary_statistics.rename(index = {'mean':'Average Daily Returns','std':'Risk','min':'Minimum','max':'Maximum'},inplace= True)

In [30]:
summary_statistics

,S&P500,AAPL,AMZN,FB,GOOG,IBM,MSFT,BHC,RHHBY,JNJ,...,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV
Average Daily Returns,0.051864,0.131592,0.162296,0.105814,0.083719,-0.000928,0.139222,-0.089068,0.029899,0.044861,...,-0.054141,0.031343,0.057707,-0.041259,-0.032828,-0.004069,-0.024774,0.005133,0.003582,0.025213
Risk,1.207533,1.872309,1.896614,2.034832,1.651418,1.608195,1.753346,4.453357,1.351058,1.245428,...,2.773542,1.989431,2.180085,2.034142,3.471214,2.909018,2.689772,2.646970,3.311861,2.290575
Minimum,-11.984055,-12.864695,-7.922081,-18.960922,-11.100820,-12.850727,-14.739031,-51.462924,-8.960935,-10.037876,...,-17.488789,-12.705308,-15.600000,-15.867617,-25.224647,-28.329955,-23.238509,-25.992439,-26.497129,-15.109442
Maximum,9.382774,11.980826,13.216371,15.521445,10.448543,11.301051,14.216888,33.744400,13.011775,7.997719,...,14.024390,17.580307,19.770045,14.534653,41.097038,29.242785,20.307943,21.017103,24.583741,14.444134

#### Assumming the number of trading windows = 252

In [31]:
# Calculating Annual Returns

Annual_Returns = pd.DataFrame(summary_statistics.loc['Average Daily Returns']*252)
Annual_Returns.rename(columns = {'Average Daily Returns':'Annual Return %'},inplace=True)

In [32]:
# Calculating risk

Annual_Risk = pd.DataFrame(summary_statistics.loc['Risk']*(252**(1/2)))

In [33]:
# Calculating Cummulative Returns

Cummulative_Returns = pd.DataFrame(100*(df_analysis.iloc[-1] - df_analysis.iloc[0])/df_analysis.iloc[0])

In [34]:
# Combining the data of metrics

Descriptive_Metrics = pd.concat([Annual_Returns,Annual_Risk,Cummulative_Returns],axis=1)

In [35]:
# Renaming the columns

Descriptive_Metrics.rename(columns={'Risk': 'Annual Risk %',0:'Cummulative Returns %'},inplace=True)

In [36]:
Descriptive_Metrics

        Annual Return %  Annual Risk %  Cummulative Returns %
S&P500        13.069808      19.168989              75.153511
AAPL          33.161069      29.721976             319.981845
AMZN          40.898487      30.107821             515.118461
FB            26.665121      32.301949             191.323680
GOOG          21.097150      26.215451             141.543673
IBM           -0.233786      25.529298             -16.072293
MSFT          35.084018      27.833508             375.214667
BHC          -22.445172      70.694845             -91.288261
RHHBY          7.534502      21.447381              29.924127
JNJ           11.305044      19.770557              59.485815
MRK           12.864847      22.321745              67.948975
PFE            5.524649      21.947874              16.841773
UNH           23.804408      28.262509             168.744060
BCS          -13.496564      39.865406             -66.102842
CS           -10.946640      36.245755             -58.510197
DB           -13.643435      44.028613             -68.842729
GS             7.898465      31.581242              15.659534
MS            14.542055      34.607776              53.492057
WFC          -10.397185      32.291002             -54.216162
AAL           -8.272605      55.103810             -68.349216
ALGT          -1.025274      46.179222             -44.601155
ALK           -6.242962      42.698800             -53.895529
DAL            1.293620      42.019352             -31.847558
HA             0.902731      52.574168             -47.771475
LUV            6.353628      36.361749              -1.419561

In [37]:
Descriptive_Metrics['Sharpee Ratio'] = (Descriptive_Metrics['Annual Return %'] - 0.75)/Descriptive_Metrics['Annual Risk %']

In [38]:
Descriptive_Metrics

        Annual Return %  Annual Risk %  Cummulative Returns %  Sharpee Ratio
S&P500        13.069808      19.168989              75.153511       0.642695
AAPL          33.161069      29.721976             319.981845       1.090475
AMZN          40.898487      30.107821             515.118461       1.333490
FB            26.665121      32.301949             191.323680       0.802277
GOOG          21.097150      26.215451             141.543673       0.776151
IBM           -0.233786      25.529298             -16.072293      -0.038536
MSFT          35.084018      27.833508             375.214667       1.233550
BHC          -22.445172      70.694845             -91.288261      -0.328103
RHHBY          7.534502      21.447381              29.924127       0.316332
JNJ           11.305044      19.770557              59.485815       0.533877
MRK           12.864847      22.321745              67.948975       0.542737
PFE            5.524649      21.947874              16.841773       0.217545
UNH           23.804408      28.262509             168.744060       0.815724
BCS          -13.496564      39.865406             -66.102842      -0.357367
CS           -10.946640      36.245755             -58.510197      -0.322704
DB           -13.643435      44.028613             -68.842729      -0.326911
GS             7.898465      31.581242              15.659534       0.226352
MS            14.542055      34.607776              53.492057       0.398525
WFC          -10.397185      32.291002             -54.216162      -0.345210
AAL           -8.272605      55.103810             -68.349216      -0.163738
ALGT          -1.025274      46.179222             -44.601155      -0.038443
ALK           -6.242962      42.698800             -53.895529      -0.163774
DAL            1.293620      42.019352             -31.847558       0.012937
HA             0.902731      52.574168             -47.771475       0.002905
LUV            6.353628      36.361749              -1.419561       0.154108

In [39]:
Descriptive_Metrics.to_csv('Metrics.csv') # Exporting the data for visualisation

# Father's Porfolio

In [40]:
# Eliminating the high risk stocks
# High risk is defined as stocks having Annual Risk % > 35%

Low_risk_stocks = Descriptive_Metrics[Descriptive_Metrics['Annual Risk %'] < 35]
Low_risk_stocks

        Annual Return %  Annual Risk %  Cummulative Returns %  Sharpee Ratio
S&P500        13.069808      19.168989              75.153511       0.642695
AAPL          33.161069      29.721976             319.981845       1.090475
AMZN          40.898487      30.107821             515.118461       1.333490
FB            26.665121      32.301949             191.323680       0.802277
GOOG          21.097150      26.215451             141.543673       0.776151
IBM           -0.233786      25.529298             -16.072293      -0.038536
MSFT          35.084018      27.833508             375.214667       1.233550
RHHBY          7.534502      21.447381              29.924127       0.316332
JNJ           11.305044      19.770557              59.485815       0.533877
MRK           12.864847      22.321745              67.948975       0.542737
PFE            5.524649      21.947874              16.841773       0.217545
UNH           23.804408      28.262509             168.744060       0.815724
GS             7.898465      31.581242              15.659534       0.226352
MS            14.542055      34.607776              53.492057       0.398525
WFC          -10.397185      32.291002             -54.216162      -0.345210

In [41]:
# Eliminating the stocks which have lower the 10% annual returns

Low_risk_morethan10 = Low_risk_stocks[Low_risk_stocks['Annual Return %'] > 7.5]
Low_risk_morethan10

        Annual Return %  Annual Risk %  Cummulative Returns %  Sharpee Ratio
S&P500        13.069808      19.168989              75.153511       0.642695
AAPL          33.161069      29.721976             319.981845       1.090475
AMZN          40.898487      30.107821             515.118461       1.333490
FB            26.665121      32.301949             191.323680       0.802277
GOOG          21.097150      26.215451             141.543673       0.776151
MSFT          35.084018      27.833508             375.214667       1.233550
RHHBY          7.534502      21.447381              29.924127       0.316332
JNJ           11.305044      19.770557              59.485815       0.533877
MRK           12.864847      22.321745              67.948975       0.542737
UNH           23.804408      28.262509             168.744060       0.815724
GS             7.898465      31.581242              15.659534       0.226352
MS            14.542055      34.607776              53.492057       0.398525

In [42]:
# Dropping the index

Low_risk_morethan10.drop('S&P500',inplace=True)
Low_risk_morethan10

       Annual Return %  Annual Risk %  Cummulative Returns %  Sharpee Ratio
AAPL         33.161069      29.721976             319.981845       1.090475
AMZN         40.898487      30.107821             515.118461       1.333490
FB           26.665121      32.301949             191.323680       0.802277
GOOG         21.097150      26.215451             141.543673       0.776151
MSFT         35.084018      27.833508             375.214667       1.233550
RHHBY         7.534502      21.447381              29.924127       0.316332
JNJ          11.305044      19.770557              59.485815       0.533877
MRK          12.864847      22.321745              67.948975       0.542737
UNH          23.804408      28.262509             168.744060       0.815724
GS            7.898465      31.581242              15.659534       0.226352
MS           14.542055      34.607776              53.492057       0.398525

In [43]:
Low_risk_morethan10.mean()

Annual Return %           21.350470
Annual Risk %             27.651992
Cummulative Returns %    176.221536
Sharpee Ratio              0.733590
dtype: float64

In [44]:
year_wise_analysis = Low_risk_morethan10.drop(['Annual Risk %', 'Cummulative Returns %',
       'Sharpee Ratio'],axis=1)

In [45]:
year_wise_analysis['Investment Amount'] = round(500000/11,2)

In [46]:
year_wise_analysis['Year 1'] = round((year_wise_analysis['Annual Return %']/100 + 1)*(year_wise_analysis['Investment Amount']),2)
year_wise_analysis['Year 2'] = round((year_wise_analysis['Annual Return %']/100 + 1)*(year_wise_analysis['Year 1']),2)
year_wise_analysis['Year 3'] = round((year_wise_analysis['Annual Return %']/100 + 1)*(year_wise_analysis['Year 2']),2)
year_wise_analysis['Year 4'] = round((year_wise_analysis['Annual Return %']/100 + 1)*(year_wise_analysis['Year 3']),2)
year_wise_analysis['Year 5'] = round((year_wise_analysis['Annual Return %']/100 + 1)*(year_wise_analysis['Year 4']),2)
year_wise_analysis

,Annual Return %,Investment Amount,Year 1,Year 2,Year 3,Year 4,Year 5
AAPL,33.161069,45454.55,60527.76,80599.41,107327.04,142917.83,190310.91
AMZN,40.898487,45454.55,64044.77,90238.11,127144.13,179144.16,252411.41
FB,26.665121,45454.55,57575.06,72927.52,92373.73,117005.30,148204.91
GOOG,21.097150,45454.55,55044.16,66656.91,80719.62,97749.16,118371.45
MSFT,35.084018,45454.55,61401.83,82944.06,112044.17,151353.77,204454.75
RHHBY,7.534502,45454.55,48879.32,52562.13,56522.42,60781.10,65360.65
JNJ,11.305044,45454.55,50593.21,56312.79,62678.98,69764.87,77651.82
MRK,12.864847,45454.55,51302.21,57902.16,65351.18,73758.51,83247.43
UNH,23.804408,45454.55,56274.74,69670.61,86255.29,106787.85,132208.07
GS,7.898465,45454.55,49044.76,52918.54,57098.29,61608.18,66474.28
MS,14.542055,45454.55,52064.58,59635.84,68308.12,78241.52,89619.45

In [47]:
year_wise_analysis['Year 5'].sum()

1428315.1300000001

In [48]:
round(year_wise_analysis['Annual Return %'].mean(),2)

21.35

In [49]:
round(Low_risk_morethan10['Annual Risk %'].mean(),2)

27.65

In [50]:
year_wise_analysis.to_csv('Portfolio_father.csv')

# Son's Portfolio

In [51]:
Descriptive_Metrics.drop('S&P500',inplace=True)

In [52]:
Descriptive_Metrics

       Annual Return %  Annual Risk %  Cummulative Returns %  Sharpee Ratio
AAPL         33.161069      29.721976             319.981845       1.090475
AMZN         40.898487      30.107821             515.118461       1.333490
FB           26.665121      32.301949             191.323680       0.802277
GOOG         21.097150      26.215451             141.543673       0.776151
IBM          -0.233786      25.529298             -16.072293      -0.038536
MSFT         35.084018      27.833508             375.214667       1.233550
BHC         -22.445172      70.694845             -91.288261      -0.328103
RHHBY         7.534502      21.447381              29.924127       0.316332
JNJ          11.305044      19.770557              59.485815       0.533877
MRK          12.864847      22.321745              67.948975       0.542737
PFE           5.524649      21.947874              16.841773       0.217545
UNH          23.804408      28.262509             168.744060       0.815724
BCS         -13.496564      39.865406             -66.102842      -0.357367
CS          -10.946640      36.245755             -58.510197      -0.322704
DB          -13.643435      44.028613             -68.842729      -0.326911
GS            7.898465      31.581242              15.659534       0.226352
MS           14.542055      34.607776              53.492057       0.398525
WFC         -10.397185      32.291002             -54.216162      -0.345210
AAL          -8.272605      55.103810             -68.349216      -0.163738
ALGT         -1.025274      46.179222             -44.601155      -0.038443
ALK          -6.242962      42.698800             -53.895529      -0.163774
DAL           1.293620      42.019352             -31.847558       0.012937
HA            0.902731      52.574168             -47.771475       0.002905
LUV           6.353628      36.361749              -1.419561       0.154108

In [53]:
High_risk_stocks = Descriptive_Metrics[Descriptive_Metrics['Annual Return %']>0]
High_risk_stocks

       Annual Return %  Annual Risk %  Cummulative Returns %  Sharpee Ratio
AAPL         33.161069      29.721976             319.981845       1.090475
AMZN         40.898487      30.107821             515.118461       1.333490
FB           26.665121      32.301949             191.323680       0.802277
GOOG         21.097150      26.215451             141.543673       0.776151
MSFT         35.084018      27.833508             375.214667       1.233550
RHHBY         7.534502      21.447381              29.924127       0.316332
JNJ          11.305044      19.770557              59.485815       0.533877
MRK          12.864847      22.321745              67.948975       0.542737
PFE           5.524649      21.947874              16.841773       0.217545
UNH          23.804408      28.262509             168.744060       0.815724
GS            7.898465      31.581242              15.659534       0.226352
MS           14.542055      34.607776              53.492057       0.398525
DAL           1.293620      42.019352             -31.847558       0.012937
HA            0.902731      52.574168             -47.771475       0.002905
LUV           6.353628      36.361749              -1.419561       0.154108

In [54]:
High_risk_stocks.describe()

       Annual Return %  Annual Risk %  Cummulative Returns %  Sharpee Ratio
count        15.000000      15.000000              15.000000      15.000000
mean         16.595320      30.471671             124.949338       0.563799
std          12.795766       8.635181             163.704887       0.430396
min           0.902731      19.770557             -47.771475       0.002905
25%           6.944065      24.268598              16.250654       0.221948
50%          12.864847      29.721976              59.485815       0.533877
75%          25.234765      33.454862             180.033870       0.809001
max          40.898487      52.574168             515.118461       1.333490

In [55]:
Portfolio_son = pd.DataFrame(High_risk_stocks['Annual Return %'])

In [56]:
Portfolio_son

       Annual Return %
AAPL         33.161069
AMZN         40.898487
FB           26.665121
GOOG         21.097150
MSFT         35.084018
RHHBY         7.534502
JNJ          11.305044
MRK          12.864847
PFE           5.524649
UNH          23.804408
GS            7.898465
MS           14.542055
DAL           1.293620
HA            0.902731
LUV           6.353628

In [57]:
Portfolio_son['Investment Amount'] = round(1000000/15,2)

In [58]:
Portfolio_son['Year 1'] = round((Portfolio_son['Annual Return %']/100 + 1)*(Portfolio_son['Investment Amount']),2)
Portfolio_son['Year 2'] = round((Portfolio_son['Annual Return %']/100 + 1)*(Portfolio_son['Year 1']),2)
Portfolio_son['Year 3'] = round((Portfolio_son['Annual Return %']/100 + 1)*(Portfolio_son['Year 2']),2)
Portfolio_son['Year 4'] = round((Portfolio_son['Annual Return %']/100 + 1)*(Portfolio_son['Year 3']),2)
Portfolio_son['Year 5'] = round((Portfolio_son['Annual Return %']/100 + 1)*(Portfolio_son['Year 4']),2)
Portfolio_son

,Annual Return %,Investment Amount,Year 1,Year 2,Year 3,Year 4,Year 5
AAPL,33.161069,66666.67,88774.05,118212.47,157412.99,209612.82,279122.67
AMZN,40.898487,66666.67,93932.33,132349.23,186478.06,262744.77,370203.41
FB,26.665121,66666.67,84443.42,106960.36,135481.47,171607.77,217367.19
GOOG,21.097150,66666.67,80731.44,97763.47,118388.78,143365.44,173611.46
MSFT,35.084018,66666.67,90056.02,121651.29,164331.45,221985.53,299866.97
RHHBY,7.534502,66666.67,71689.67,77091.13,82899.56,89145.63,95862.31
JNJ,11.305044,66666.67,74203.37,82592.09,91929.16,102321.79,113889.31
MRK,12.864847,66666.67,75243.23,84923.16,95848.39,108179.14,122096.22
PFE,5.524649,66666.67,70349.77,74236.35,78337.65,82665.53,87232.51
UNH,23.804408,66666.67,82536.28,102183.55,126507.74,156622.16,193905.14
GS,7.898465,66666.67,71932.31,77613.86,83744.16,90358.66,97495.61
MS,14.542055,66666.67,76361.37,87465.88,100185.22,114754.21,131441.83
DAL,1.293620,66666.67,67529.08,68402.65,69287.52,70183.84,71091.75
HA,0.902731,66666.67,67268.49,67875.74,68488.48,69106.75,69730.60
LUV,6.353628,66666.67,70902.42,75407.30,80198.40,85293.91,90713.17

In [59]:
Portfolio_son['Year 5'].sum()

2413630.15

In [60]:
round(High_risk_stocks['Annual Return %'].mean(),2)

16.6

In [61]:
round(High_risk_stocks['Annual Risk %'].mean(),2)

30.47

In [62]:
Portfolio_son.to_csv("Son's Portfolio.csv")

****

## Making a dataset for Dashboard in Tableau

In [63]:
SP500 = pd.read_csv('S&P500.csv')
SP500['Stock'] = 'S&P500'
SP500.set_index('Date',inplace=True)
SP500 = SP500.loc['30-09-2015':'30-09-2020']
SP500.reset_index(inplace=True) 

AAL = pd.read_csv('AAL.csv')
AAL['Stock'] = 'AAL'
AAL.set_index('Date',inplace=True)
AAL = AAL.loc['30-09-2015':'30-09-2020']
AAL.reset_index(inplace=True) 

ALGT = pd.read_csv('ALGT.csv')
ALGT['Stock'] = 'ALGT'  
ALGT.set_index('Date',inplace=True)
ALGT = ALGT.loc['30-09-2015':'30-09-2020']
ALGT.reset_index(inplace=True) 

ALK = pd.read_csv('ALK.csv')
ALK['Stock'] = 'ALK'  
ALK.set_index('Date',inplace=True)
ALK = ALK.loc['30-09-2015':'30-09-2020']
ALK.reset_index(inplace=True) 

DAL = pd.read_csv('DAL.csv')
DAL['Stock'] = 'DAL' 
DAL.set_index('Date',inplace=True)
DAL = DAL.loc['30-09-2015':'30-09-2020']
DAL.reset_index(inplace=True) 

HA = pd.read_csv('HA.csv')
HA['Stock'] = 'HA'
HA.set_index('Date',inplace=True)
HA = HA.loc['30-09-2015':'30-09-2020']
HA.reset_index(inplace=True) 

LUV = pd.read_csv('LUV.csv')
LUV['Stock'] = 'LUV' 
LUV.set_index('Date',inplace=True)
LUV = LUV.loc['30-09-2015':'30-09-2020']
LUV.reset_index(inplace=True) 

BCS = pd.read_csv('BCS.csv')
BCS['Stock'] = 'BCS'
BCS.set_index('Date',inplace=True)
BCS = BCS.loc['30-09-2015':'30-09-2020']
BCS.reset_index(inplace=True) 

CS = pd.read_csv('CS.csv')
CS['Stock'] = 'CS'
CS.set_index('Date',inplace=True)
CS = CS.loc['30-09-2015':'30-09-2020']
CS.reset_index(inplace=True) 

DB = pd.read_csv('DB.csv')
DB['Stock'] = 'DB' 
DB.set_index('Date',inplace=True)
DB = DB.loc['30-09-2015':'30-09-2020']
DB.reset_index(inplace=True) 

GS = pd.read_csv('GS.csv')
GS['Stock'] = 'GS' 
GS.set_index('Date',inplace=True)
GS = GS.loc['30-09-2015':'30-09-2020']
GS.reset_index(inplace=True) 

MS = pd.read_csv('MS.csv')
MS['Stock'] = 'MS' 
MS.set_index('Date',inplace=True)
MS = MS.loc['30-09-2015':'30-09-2020']
MS.reset_index(inplace=True) 

WFC = pd.read_csv('WFC.csv')
WFC['Stock'] = 'WFC' 
WFC.set_index('Date',inplace=True)
WFC = WFC.loc['30-09-2015':'30-09-2020']
WFC.reset_index(inplace=True) 

JNJ = pd.read_csv('JNJ.csv')
JNJ['Stock'] = 'JNJ'
JNJ.set_index('Date',inplace=True)
JNJ = JNJ.loc['30-09-2015':'30-09-2020']
JNJ.reset_index(inplace=True) 

MRK = pd.read_csv('MRK.csv')
MRK['Stock'] = 'MRK' 
MRK.set_index('Date',inplace=True)
MRK = MRK.loc['30-09-2015':'30-09-2020']
MRK.reset_index(inplace=True) 

PFE = pd.read_csv('PFE.csv')
PFE['Stock'] = 'PFE' 
PFE.set_index('Date',inplace=True)
PFE = PFE.loc['30-09-2015':'30-09-2020']
PFE.reset_index(inplace=True) 

UNH = pd.read_csv('UNH.csv')
UNH['Stock'] = 'UNH' 
UNH.set_index('Date',inplace=True)
UNH = UNH.loc['30-09-2015':'30-09-2020']
UNH.reset_index(inplace=True) 

BHC = pd.read_csv('BHC.csv')
BHC['Stock'] = 'BHC' 
BHC.set_index('Date',inplace=True)
BHC = BHC.loc['30-09-2015':'30-09-2020']
BHC.reset_index(inplace=True) 

RHHBY = pd.read_csv('RHHBY.csv')
RHHBY['Stock'] = 'RHHBY' 
RHHBY.set_index('Date',inplace=True)
RHHBY = RHHBY.loc['30-09-2015':'30-09-2020']
RHHBY.reset_index(inplace=True) 

AAPL = pd.read_csv('AAPL.csv')
AAPL['Stock'] = 'AAPL' 
AAPL.set_index('Date',inplace=True)
AAPL = AAPL.loc['30-09-2015':'30-09-2020']
AAPL.reset_index(inplace=True) 

AMZN = pd.read_csv('AMZN.csv')
AMZN['Stock'] = 'AMZN' 
AMZN.set_index('Date',inplace=True)
AMZN = AMZN.loc['30-09-2015':'30-09-2020']
AMZN.reset_index(inplace=True) 

FB = pd.read_csv('FB.csv')
FB['Stock'] = 'FB' 
FB.set_index('Date',inplace=True)
FB = FB.loc['30-09-2015':'30-09-2020']
FB.reset_index(inplace=True) 

GOOG = pd.read_csv('GOOG.csv')
GOOG['Stock'] = 'GOOG'
GOOG.set_index('Date',inplace=True)
GOOG = GOOG.loc['30-09-2015':'30-09-2020']
GOOG.reset_index(inplace=True) 

IBM = pd.read_csv('IBM.csv')
IBM['Stock'] = 'IBM' 
IBM.set_index('Date',inplace=True)
IBM = IBM.loc['30-09-2015':'30-09-2020']
IBM.reset_index(inplace=True) 

MSFT = pd.read_csv('MSFT.csv')
MSFT['Stock'] = 'MSFT' 
MSFT.set_index('Date',inplace=True)
MSFT = MSFT.loc['30-09-2015':'30-09-2020']
MSFT.reset_index(inplace=True)

In [64]:
l = [SP500,AAPL, AMZN, FB, GOOG, IBM, MSFT,BHC,RHHBY,JNJ,MRK,PFE,UNH,BCS,CS,DB,GS,MS,WFC,AAL,ALGT,ALK,DAL,HA,LUV]

In [65]:
df = pd.concat([SP500,AAPL])

In [66]:
for i in l[2:]:
    df = pd.concat([df,i])

In [67]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
Stock        0
dtype: int64

In [68]:
df.dropna(inplace=True)

In [70]:
df.to_csv('5 Year Data(2015 to 2020).csv')